{{!-- <div>
    <h1>Hola {{testUser.user.name}}, que gusto verte aca!</h1>
        {{#if isAdmin}}
            <h3>es admin</h3>
        
            {{#each ropa}}
                <div>
                    <p>{{this.name}}</p>
                    <p>{{this.price}}</p>
                </div>
            {{/each}}


        {{else}}
            <p>no tienes permiso para ver los productos</p>
        {{/if}}
    
    <div>
        <p>{{testUser.user.name}} es de {{testUser.user.city}}, {{testUser.user.country}}</p>
        <p>tiene la edad de {{testUser.user.age}}</p>
        <p>y su correo es {{testUser.user.email}}</p>
    </div>
    
</div> --}}

<div>
    Listo para trabajar con websockets
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
