<div class="d-flex justify-content-center align-items-center flex-column h-100">
    <h1 class="mb-5">Lista de productos!</h1>
    <div class="w-100 px-4">
        {{#if payload.length}}
        <table class="table table-striped table-dark">
          <thead class="text-center">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">nombre</th>
              <th scope="col">codigo</th>
              <th scope="col">precio</th>
              <th scope="col">categoria</th>
              <th scope="col">descripcion</th>
              <th scope="col">stock</th>
              <th scope="col">imagenes</th>
              <th scope="col">carrito</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {{#each payload}}
            <tr>
              <th scope="row">{{this._id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.code}}</td>
              <td>{{this.price}}</td>
              <td>{{this.category}}</td>
              <td>{{this.description}}</td>
              <td>{{this.stock}}</td>
              <td>{{this.thumbnail}}</td>
              <td><button class="btn btn-warning">AddToCart</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-center">
          {{#if hasPrevPage}}
          <a href="{{prevLink}}"><button>Anterior</button></a>
          {{/if}}

          {{#if hasNextPage}}
          <a href="{{nextLink}}"><button>Siguiente</button></a>
          {{/if}}
        </div>
        {{else}}
        <h3>No hay productos por mostrar!</h3>
        {{/if}}
    </div>

</div>